// Enter any custom Sass in this file.
//.indicator.goal-banner {
//   .goal-tiles {
//        a {
//            width: 350px !important;            
//        }
//  }
//}


.navbar-brand {
    width: calc(100% - 100px);
    max-width: 550px;
    margin-bottom: 25px;
}
/*.embedded-map {
    width: calc(100% - 100px);
    max-width: 550px;
    margin-bottom: 25px;
}
*/
.embedded-map img{
    max-width: 100%;
}

.embedded-map iframe {
    width: 100%;
    max-width: 1000px;
    height: 600px;
    display: block;
    margin: 0 auto;
    border: 0;
}

@media only screen and (min-width: 992px) {
    .frontpage-goals-grid .goal-tiles .goal-tile {
        width: 15%;
    }
}


/*
.goal-icon-image goal-icon-image- {
    box-shadow: none;
}
.goal-icon-image goal-icon-image-:hover {
    box-shadow: none;
}
*/
