// Enter any custom Sass in this file.
//.indicator.goal-banner {
//   .goal-tiles {
//        a {
//            width: 350px !important;            
//        }
//  }
//}


.navbar-brand {
    width: calc(100% - 100px);
    max-width: 550px;
    margin-bottom: 25px;
}
/*.embedded-map {
    width: calc(100% - 100px);
    max-width: 550px;
    margin-bottom: 25px;
}
*/
.embedded-map img{
    max-width: 100%;
}
