---
layout: default
---
<div class="container">
  {% include components/page/breadcrumbs.html %}
</div>
<div id="main-content" class="container mapslist" role="main">
  <div class="row">
    <div class="{% if category_links %}col-md-9 push-md-3{% else %}col-md-12{% endif %}">
      {% if page.title %}
      <h1>{{ page.title | t }}</h1>
      {% endif %}
      <div class="embedded-map">
        <iframe src=https://msa-mt.maps.arcgis.com/apps/instant/media/index.html?appid=80c8faccd0b446aa950122f4c4b17376 frameborder="0" style="border:0" allowfullscreen>iFrames are not supported on this page.</iframe>
      </div>
    </div>
    {% if category_links %}
    <div class="col-md-3 pull-md-9">
      {% include components/post-categories.html %}
    </div>
    {% endif %}
  </div>
</div>
