---
layout: default
---
<div class="container">
  {% include components/page/breadcrumbs.html %}
</div>
<div id="main-content" class="container mapslist" role="main">
    <div class="col-md-12">
      {% if page.title %}
      <h1>{{ page.title | t }}</h1>
      {% endif %}
      <div class ="map-indicator-buttons">
        <input type="image" src="https://NSOMalta.github.io/sdgsite/assets/img/4.3.1.png" id="map-4" />
        <input type="image" src="https://NSOMalta.github.io/sdgsite/assets/img/8.5.2.png" id="map-8" />
      </div>
      <div class="embedded-maps">
        <iframe src=https://msa-mt.maps.arcgis.com/apps/instant/media/index.html?appid=80c8faccd0b446aa950122f4c4b17376 frameborder="0" style="border:0" allowfullscreen>iFrames are not supported on this page.</iframe>
      </div>
    </div>
</div>
